/* EventStyle.css */

.event-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.event-image {
  flex: 1;
  max-width: 620px; /* Adjust this value as needed */
  padding: 0 10px; /* Add padding for spacing */
}

.event-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.event-details {
  flex: 1;
  padding: 20px;
  max-width: 600px;
}

.event-title {
  font-size: 32px;
  margin-top: 0;
}

.event-info {
  margin-bottom: 20px;
}

.event-description {
  font-style: italic;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999;
  outline: none;
}

.close-button:hover {
  color: #555;
}